# Midtrans
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_BASE_URL=https://app.sandbox.midtrans.com

# Groq AI
GROQ_API_KEY=

# Meta Cloud API
META_TOKEN=
META_PHONE_NUMBER_ID=

# Database (opsional, default: localhost:3306)
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
